{% extends 'base.html.twig' %}
{% block title %}
    Login
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/global_authentication.css') }}" rel="stylesheet">
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="notes">
        <img src="{{ asset('img/notes.svg') }}" alt="notes">
    </div>

    <div class="loginrectangle" id="login-form-container">
        <div class="top-section">
            <h3 class="Welcome">Welcome to <span>MyDreamly</span></h3>
            <div class="no-account-section">
                <p>No Account?</p>
                <a href="{{ path('app_register') }}">Sign Up</a>
            </div>
        </div>

        <h1 class="Sign-in">Sign in</h1>


            {% if error %}
                <div class="messages">
                    <p>{{ error.messageKey | trans(error.messageData, 'security') }}</p>
                </div>
            {% endif %}


        <form class="flex-column-space-around-center" id="login-form">

             {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
                </div>
            {% endif %}
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email" value="{{ last_username }}" required>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="default-btn">Login</button>
        </form>
    </div>
    <div class="sally">
        <img src="{{ asset('img/sally.svg') }}" alt="sally">
    </div>

{% endblock %}


