{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/global_authentication.css') }}" rel="stylesheet" >
    <link href="{{ asset('css/login.css') }}" rel="stylesheet" >
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="notes">
        <img src="{{ asset('img/notes.svg')}}" alt="notes">
    </div>

    <div class="loginrectangle">
        <div class="top-section">
            <h3 class="Welcome">Welcome to <span>Dreamly</span></h3>
            <div class="no-account-section">
                <p>No Account?</p>
                <a href="{{ path('register') }}">Sign Up</a>
            </div>
        </div>

        <h1 class="Sign-in">Sign in</h1>

        <form action="/login" method="POST">
            <p>Enter your email address</p>
            <input name="email" type="text" placeholder="email@email.com">
            <p>Enter your Password</p>
            <input name="password" type="password" placeholder="Password">
            <button type="submit" class="submit">Sign in</button>
            <p ></p>
        </form>

    </div>
    <div class="sally">
        <img src="{{ asset('img/sally.svg')}}" alt="sally">
    </div>
{% endblock %}

{% block title %}
Login
{% endblock %}

