{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/global_authentication.css') }}" rel="stylesheet" >
    <link href="{{ asset('css/login.css') }}" rel="stylesheet" >
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="notes">
        <img src="{{ asset('img/notes.svg')}}" alt="notes">
    </div>

    <div class="loginrectangle">
        <div class="top-section">
            <h3 class="Welcome">Welcome to <span>Dreamly</span></h3>
            <div class="no-account-section">
                <p>No Account?</p>
                <a href="{{ path('app_register') }}">Sign Up</a>
            </div>
        </div>

        <h1 class="Sign-in">Sign in</h1>

        <form  method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <label for="inputEmail">Enter your email address</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Enter your Password </label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit" class="submit">Sign in</button>
        </form>
    </div>
    <div class="sally">
        <img src="{{ asset('img/sally.svg')}}" alt="sally">
    </div>
{% endblock %}

{% block title %}
Login
{% endblock %}

