{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" >
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/home.js') }}"></script>
    {{ encore_entry_script_tags('home') }}
{% endblock %}
{% block content %}
    <div class="notes">
        <img src="{{ asset('img/notes.svg')}}" alt="notes" />
    </div>
    <div id="root">
    </div>
    <div class="sally">
        <img src="{{ asset('img/sally.svg')}}" alt="sally">
    </div>
{% endblock %}

