{% extends "base.html.twig" %}

{% block title %}Add dream{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/adding_dream.css') }}" rel="stylesheet" >
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/add_dream.js') }}"></script>
    {{ encore_entry_script_tags('add_dream') }}
    {{ encore_entry_script_tags('add_dream') }}
{% endblock %}
{% block content %}
    <div id="root"></div>
{% endblock %}
