{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/user_profile.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}

    <div id="root">
    </div>
    <img class="sleep" src="{{ asset('img/sleep.svg')}}" alt="sleep-img">
{% endblock %}

{% block title %}
    Settings
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/user.js') }}"></script>
    {{ encore_entry_script_tags('user') }}
{% endblock %}
